{% extends 'layout.html' %}

{% block content %}
<h1>Steam Review Analyzer</h1>
<p>This webservice will allow you to select games from Steam and get valuable insights regarding User sentiment.</p>

<!-- Begin introduction section -->
<section>
    <h2>Please Select your Steam Game below from the drop down list</h2>
    <form action="{{ url_for('home') }}" method="post">
        <select name="game">
            {% for game in games %}
            <option value="{{ game }}">{{ game }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
</section>
<!-- End introduction section -->

{% endblock %}